<div class="card center p-3">
    <div class="card-body">
        <h5 class="card-title">{{'login' | translate | capitalize}}</h5>
        <form>
            <div class="mb-3">
                <label class="form-label">{{'username' | translate | capitalize}}</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">{{'password' | translate | capitalize}}</label>
                <input type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary me-1">{{'login' | translate | capitalize}}</button>
            <button type="submit" class="btn btn-success">{{'register' | translate | capitalize}}</button>
        </form>
    </div>
</div>
